<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Bienvenidos!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/puntocrea.css') }}">
        <link rel="stylesheet" href="{{ asset('summernote-lite.css')}}"> 
    {% endblock %}
</head>

<body>
    {% include "inc/navbar.html.twig" %}
    <div class="container">
        {% block body %}{% endblock %}
        <footer class="mt-5 mb-3 text-center">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                <img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
            </a>
            <br />Esta obra está bajo una
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>
            <hr>
            <p>Jóvenes Creadores 2018</p>
        </footer>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js')}}"></script>
        <script src="{{ asset('summernote-lite.js')}}"></script>
        <script src="{{ asset('js/popper.min.js')}}"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script> 
        <script src="{{ asset('js/tinymce.min.js')}}"></script>
        <script src="{{ asset('DataTables/datatables.min.js')}}"></script>
    {% endblock %}
</body>

</html>