{% extends 'base.html.twig' %}

{% block title %}Jóvenes Creadores{% endblock %}

{% block body %}
   <div class="container mb-5">
     <h1 class="mt-5 mb-5 display-3">Descripción general de principios, valores y estrategia pedagógica de los EJC</h1>
     <h4 class="mb-5"><i>Centralidad de los jóvenes y su empoderamiento en el aprendizaje</i></h4>
     <p class="mt-4 mb-4">Los Espacios de Jóvenes Creadores giran en torno a los jóvenes. Ellos son el centro y la razón de existir de los mismos.
    Todos los elementos conceptuales, filosóficos, curriculares, metodológicos, físicos y humanos se reúnen en torno a los jóvenes
    como el fin principal de los EJC. Toda la actividad de los EJC persigue que los jóvenes se apropien del espacio como suyo,
    lo desarrollen y aboguen por él ante la comunidad. Los jóvenes promueven su propio aprendizaje de acuerdo a sus habilidades,
    intereses y necesidades marcando su propio ritmo, su estilo de aprendizaje y de acuerdo a las metas o planes de vida que
    se tracen con el apoyo de los EJC.</p>

    <h2 class="mt-5 mb-5 display-4">Importancia de la comunidad (vinculado a comité de EJC): apropiación, compromiso, sostenibilidad</h2>
    <p class="mt-4 mb-4">El involucramiento de la comunidad es un factor clave para el establecimiento, desarrollo y sostenibilidad de los EJC. La
    comunidad a través de un comité voluntario integrado por líderes hombres y mujeres que representan a diversos sectores comunitarios
    es fundamental para que los EJC sean vistos, apoyados y defendidos como un espacio o institución propia de la comunidad.
    Este comité es elegido por una asamblea comunitaria para que haya representación diversa e inclusiva, con la participación
    activa de jóvenes para garantizar que los EJC son apropiados y llamativos para los jóvenes de las comunidades.</p>
    <p class="mt-4 mb-4">La asamblea comunitaria es convocada por el COCODE, la Municipalidad, la asociación civil o la organización comunitaria más
    representativa del municipio o de la comunidad que tome la iniciativa y el liderazgo para establecer un EJC en su comunidad.
    La organización individual o colectiva que lidere esta iniciativa debe hacer este proceso inclusivo para que la comunidad
    convocada entienda que es un proyecto de todos y no de una o un grupo de organizaciones.</p>
    <p class="mt-4 mb-4">Este comité cuenta con un reglamento interno y un plan anual de actividades que asegura su buen funcionamiento y un proceso
    de renovación de sus miembros.</p>

    <h2 class="mt-5 mb-5 display-4">¿Qué es STEAM?</h2>
    <p class="mt-4 mb-4">Estrictamente, el acrónimo STEAM se refiere a un conjunto de áreas curriculares o disciplinas específicas: Ciencias, Tecnología,
    Ingeniería, Artes y Matemáticas (Science, Technology, Engineering, Arts and Mathematics, por sus siglas en inglés). De forma
    más extensa, es un enfoque, una intención por abordar dichas áreas curriculares o disciplinas de forma integrada en la concreción
    de los currícula de educación formal y no-formal, que reconoce que ellas son imprescindibles para formarse de cara al bienestar,
    la realización y el desempeño laboral en la sociedad actual.</p>
    <p class="mt-4 mb-4">Este enfoque promueve el desarrollo de un conocimiento transversal, en el que los contenidos de cada una de estas ramas no
    se trabaja por separado, sino de forma integrada para garantizar un aprendizaje significativo, contextualizado y con pertinencia
    cultural.</p>
    <p class="mt-4 mb-4">El enfoque hacia las áreas STEAM no se limita a la enseñanza de los contenidos en sí, sino que implica principalmente el
    desarrollo de determinadas competencias y tipos de pensamientos relacionados con el desarrollo de estas disciplinas a través
    de retos y proyectos educativos, con un enfoque de <strong>aprender haciendo.</strong></p>

    <h2 class="mt-5 mb-5 display-4">Importancia de STEAM para la inserción laboral</h2>
    <p class="mt-4 mb-4">Según el documento Competencias Básicas para la Vida,</p>
    <p class="mt-4 mb-4"><i>… ser competente supone que el individuo resuelva de modo efectivo situaciones que tienen un grado de complejidad, para lo
    que es capaz de movilizar eficazmente los recursos pertinentes (propios o saber buscar los ajenos). Las competencias integran,
    de modo holístico, además de la dimensión cognitiva, procedimientos y actitudes. Más que un saber dado, integran u orquestan
    los saberes que son pertinentes en una determinada situación, y se construyen tanto en la formación como en la vida diaria.</i></p>
    <p class="mt-4 mb-4">El enfoque STEAM se basa en retos enmarcados en estas Competencias Básicas para la Vida. A través de ellas los jóvenes buscan
    soluciones, desarrollan habilidades y adquieren conocimientos que podrán aplicar luego en su vida personal principalmente
    como jóvenes íntegros, con criterio, innovadores, responsables y comprometidos con su familia y su comunidad. Servirán también
    como medios que los dotarán de valores, cualidades y competencias requeridas para tener éxito en el entorno laboral.</p>
    <p class="mt-4 mb-4">Además se estimulan competencias que siempre han sido importantes, como el pensamiento lógico y creativo, la comunicación
    y el trabajo en equipo, el análisis crítico y la resolución de problemas, entre otras. El enfoque STEAM en los EJC es una
    oportunidad para las comunidades de desarrollar en los jóvenes tales competencias de forma especialmente pertinente para
    las características de la sociedad contemporánea del conocimiento y facilitar su incorporación a la vanguardia de la innovación
    tecnológica, acorde a sus necesidades educativas y laborales.</p>

    <h2 class="mt-5 mb-5 display-4">Importancia de articular entre áreas STEAM</h2>
    <p class="mt-4 mb-4">Tradicionalmente se ha marcado una separación entre las disciplinas científico- tecnológicas, las sociolingüísticas y las
    artísticas. La integración de las artes en el enfoque STEAM permite un desarrollo integral de los jóvenes en cuanto a su
    perfil de salida de la Educación Secundaria, con vistas a continuar con su proceso educativo formal o su inserción laboral.</p>
    <p class="mt-4 mb-4">La integración de arte y diseño a las áreas de ciencias, tecnología, ingeniería y matemáticas reconoce explícitamente que
    la creatividad es indispensable también para las disciplinas «duras» o «técnicas», pero también que las artes dependen para
    su realización de tecnologías específicas que deben dominarse con eficacia para garantizar la expresión artística.</p>
    <p class="mt-4 mb-4">Al integrar el arte y el diseño en el modelo STEAM se fomenta y apoya la innovación y la creatividad. El aprendizaje de las
    disciplinas científico tecnológicas es importante para ser un profesional competitivo. Sin embargo, es también clave conectarlo
    con otras disciplinas que doten a los jóvenes de habilidades y herramientas para resolver problemas y desarrollar su curiosidad
    e imaginación.</p>
   </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}

  <script src="/js/main.js"></script>
{% endblock javascripts %}