{% extends 'base.html.twig' %}
{% block title %}Listado Jóvenes Creadores{% endblock %}

{% block body %}

  {% if alumnos %}
    <h1> Listado de Participantes</h1>
    <table  id="alumnos" class="table table-striped text-center">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>CUI</th>
          <th>Género</th>
          <th>Comunidad</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        {% for alumno in alumnos %}
          <tr>  
            <td>{{ alumno.nombres }}</td>
            <td>{{ alumno.apellidos}}</td>
            <td>{{ alumno.cui }}</td>
            <td>{{ alumno.genero }}</td>
            <td>{{ alumno.comunidad }}</td>
            <td>{{ alumno.telefonocelular }}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">Participantes EJC</div>
      <div class="card-body">
        <h4 class="card-title">Aún No hay participantes asignados en nuestra base de datos.</h4>
        <p class="card-text">Pronto iniciaremos con participantes.</p>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}