{% extends 'base.html.twig' %}

{% block title %}Retos Jóvenes Creadores{% endblock %}

{% block body %}

  <div class="jumbotron">
    {% if is_granted('ROLE_ADMIN') %}
      
    {% else %}
      
    {% endif %}
    <h1 class="display-3">Hola, {{ name }}</h1>
    <p class="lead">Estas son tus competencias.</p>
    <hr class="my-4">
    <h3 class="mb-3">Competencias alcanzadas:</h3>
    <hr>
    <p>Conoce sobre las características y necesidades de su comunidad.</p>
    <div class="progress mb-3" >
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Logró definir el problema a resolver.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Propuso una solución estructurada.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Utilizó elementos STEAM para resolver el problema.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Logró la medición de voltaje en el circuito.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Logró encender el LED con los limones.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 5%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>No se detuvo hasta lograr que el LED encendiera.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>Logró explicar de dónde obtuvo la solución del problema.</p>
    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>


{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}