{% extends 'base.html.twig' %}
{% block title %}Competencias EJC - EDIT{% endblock %} 
 
{% block body %}
  <h1> Editar EJC</h1>
  {{ form_start(form) }}
    <div class="form-group">
      {{ form_row(form.fuente)}}
      {{ form_row(form.competencia)}}
      {{ form_row(form.indicadorlogro)}}
      {{ form_row(form.contenido)}}
      {{ form_row(form.categoria)}}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Guardar</button>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}
