{% extends 'base.html.twig' %}
{% block title %}CBV{% endblock %}

{% block body %}

  {% if cbvs %}
    <h1 class="mb-4 mt-4">Competencias CBV</h1>
    <table  id="alumnos" class="table table-striped text-center">
      <thead>
        <tr>
          <th>STEAM</th>
          <th>Competencia</th>
          <th>Descripción</th>
          <th>Dimensión Clave </th>
          <th>Indicador</th>
        </tr>
      </thead>
      <tbody>
        {% for cbv in cbvs %}
          <tr>  
            <td>{{ cbv.categoria }}</td>
            <td>{{ cbv.competencia}}</td>
            <td>{{ cbv.descripcion }}</td>
            <td>{{ cbv.dimensionclave }}</td>
            <td>{{ cbv.indicadorlogro }}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">Todas las Competencias</div>
      <div class="card-body">
        <h4 class="card-title">Estamos trabajando en esta implementación.</h4>
        <p class="card-text">Pronto iniciaremos con competencias.</p>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}