{% extends 'base.html.twig' %}
{% block title %}EJC{% endblock %}

{% block body %}

  <div class="show-container mb-5 mt-5">

    {% if ejcs %}
      <h1 class="mb-4 mt-4">Competencias EJC</h1>
      <table  id="alumnos" class="table table-striped text-center">
        <thead>
          <tr>
            <th>STEAM</th>
            <th>Competencia</th>
            <th>Contenido</th>
            <th>Indicador</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for ejc in ejcs %}
            <tr>  
              <td>{{ ejc.categoria }}</td>
              <td>{{ ejc.competencia}}</td>
              <td>{{ ejc.contenido }}</td>
              <td>{{ ejc.indicadorlogro }}</td>  
              <td>
                <a href="{{url('edit_competencia_ejc', {'id': ejc.id})}}" class="btn btn-info">Editar <i class="fas fa-edit" stye="margin-left: 5px;"></i></a>
                <a href="{{url('delete_competencia_ejc', {'id': ejc.id})}}" class="btn btn-info">Borrar <i class="fas fa-trash-alt" style="margin-left: 5px;"></i></a>
              </td>
       
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
    {% else %}
    <div class="row justify-content-center align-items-center">
      <div class="card border-primary mt-5 mb-3 ">
        <div class="card-header">Competencias EJC</div>
        <div class="card-body">
          <h4 class="card-title">Aún No hay competencias EJC en nuestra base de datos.</h4>
          <p class="card-text">Pronto iniciaremos con competencias.</p>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
  {{ form_start(form) }}
    <div class="form-group">
      {{ form_row(form.fuente)}}
      {{ form_row(form.competencia)}}
      {{ form_row(form.indicadorlogro)}}
      {{ form_row(form.contenido)}}
      {{ form_row(form.categoria)}}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Agregar</button>
  {{ form_end(form) }}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}