{% extends 'base.html.twig' %}
{% block title %}CNB{% endblock %}

{% block body %}

  {% if cnbs %}
    <h1 class="mb-4 mt-4">Competencias CNB</h1>
    <table  id="alumnos" class="table table-striped text-center">
      <thead>
        <tr>
          <th>STEAM</th>
          <th>Área</th>
          <th>Competencia</th>
          <th>Indicador</th>
          <th>Saber cognoscitivo</th>
        </tr>
      </thead>
      <tbody>
        {% for cnb in cnbs %}
          <tr>  
            <td>{{ cnb.categoria }}</td>
            <td>{{ cnb.area}}</td>
            <td>{{ cnb.competencia }}</td>
            <td>{{ cnb.indicador }}</td>
            <td>{{ cnb.sabercognoscitivo }}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">Competencias CNB</div>
      <div class="card-body">
        <h4 class="card-title">Aún No hay competencias CNB en nuestra base de datos.</h4>
        <p class="card-text">Pronto iniciaremos con competencias.</p>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}