/* Reto Show */

.reto-show img {
    width: 100% !important;
}

.reto-show iframe {
    width: 100% !important;
}

.reto-show table {
    width:  100% !important;
}

.reto-show ul, ol, li {
    padding: 0 !important;
}

.reto-show span > img{
    width: 100% !important;
}

@media only screen and (max-width: 728px) {
    .display-3 {
        font-size: 2.5rem !important;
    }

    p > img{
        width: 100% !important;
        object-fit: cover !important;
    }
}