{% extends 'base.html.twig' %}

{% block title %}Jóvenes Creadores - EJC{% endblock %}

{% block body %}
   <div class="container mb-5">
     <h1 class="mt-5 mb-5 display-3">Descripción del modelo de EJC (Espacios de Jóvenes Creadores)</h1>
     <p class="mt-4 mb-4">Los Espacios de Jóvenes Creadores (EJC) son una propuesta de aprendizaje no formal basado en retos para el desarrollo de
    competencias en áreas de ciencias, tecnología, ingeniería, arte y matemáticas (STEAM, por sus siglas en inglés), orientada
    a jóvenes entre 15 y 24 años de edad, complementario tanto para jóvenes dentro del sistema educativo formal como fuera de
    él.</p>

    <p class="mt-4 mb-4">Los Espacios de Jóvenes Creadores (EJC) promueven aprendizaje no formal basado en retos para el desarrollo de competencias
    en áreas de ciencias, tecnología, ingeniería, arte y matemáticas (STEAM, por sus siglas en inglés), habilidades fundamentales
    en la sociedad, mercado y trabajo. Orientada a jóvenes entre 15 y 24 años de edad que asisten al sistema educativo formal
    como fuera de él.</p>

    <p class="mt-4 m-b4">La propuesta de los EJC tiene dos antecedentes. El primero es el concepto y el movimiento del tinkering, entendido como hacer
    intentos de reparación experimental y también cómo colaborar para realizar tal reparación experimental. El segundo antecedente
    está en los makerspaces, espacios concretos de educación a través de la colaboración experimental.</p>

    <p class="mt-4 mb-4">Los EJC concretan dos conceptos pedagógicos clave. El primero es el reconocimiento de que el aprendizaje es más sólido cuando
    la información teórica o conceptual se vincula de forma inmediata a la experimentación y la práctica relevante. El segundo
    es el aprendizaje basado en retos, concepto que se detalla en otra sección específica de esta guía.</p>

    <p class="mt-4 mb-4">Los EJC han sido concebidos como espacios físicos, abiertos y seguros donde los jóvenes se reúnen para abordar retos educativos
    STEAM usando materiales y herramientas y apoyados por un tutor. Los EJC ponen a los jóvenes en el centro porque parten del
    supuesto de que, dadas las condiciones apropiadas, ellos pueden construir su propio conocimiento. Son un espacio físico porque
    se localizan concretamente en un lugar al que los jóvenes pueden acudir periódicamente y que reconocen como propio.</p>

    <h2 class="mt-5 mb-5 display-4">Modelos de EJC</h2>
    <p class="mt-4 mb-4">En esta guía se hacen especificaciones de un EJC normal, sin embargo debido a las características particulares del contexto
    de cada comunidad donde se instale, aca se hace una descripción de 3 modelos de EJC para responder a esta diversidad de contextos.</p>

    <h2 class="mt-5 mb-5 display-4">EJC Móvil</h2>
    <p class="mt-4 mb-4">Este es el modelo básico de EJC que responde a las condiciones de un municipio o aldea con limitaciones de espacio físico
    para instalar todos los recursos, herramientas y materiales. Apoyado desde un EJC con local fijo, contará con lo necesario
    para cumplir el propósito del EJC desde una plataforma portátil, atendiendo grupos de jóvenes en espacios donde ellos se
    reúnen frecuentemente: escuelas, parques, colegios, iglesias, grupos juveniles, espacios públicos, etc.</p>
    
    <p class="mt-4 mb-4">El propósito del EJC móvil es siempre el mismo: apoyar al desarrollo de los jóvenes en el alcance de competencias a través
    de los retos STEAM y el uso de los recursos tecnológicos como apoyo a su autoformación. En este caso, el mobiliario es mínimo,
    práctico y principalmente movible. Debe ser seguro para resguardar todos los recursos sin dañarse. El equipo tecnológico
    es básico y funcional en las condiciones que se estarán manejando con este modelo.</p>

    <h2 class="mt-5 mb-5 display-4">EJC Standard</h2>
    <p class="mt-4 mb-4">Este es el modelo que pretende ser la norma. Las especificaciones en esta guía se refieren en primera instancia a este modelo,
    diseñado para ser ubicado en un municipio o comunidad con mejores posibilidades de aportar un espacio con los servicios básicos
    y las condiciones necesarias para la instalación del EJC. Este modelo busca ser un referente del proyecto en la comunidad,
    donde los jóvenes pueden sentirse en casa, aprender y desarrollarse en libertad.</p>

    <h2 class="mt-5 mb-5 display-4">EJC Plus</h2>
    <p class="mt-4 mb-4">Es una versión más desarrollada del modelo Estándar, puede ser con más espacio físico, más y mejores equipos tecnológicos
    (High Tech), recursos y materiales. Este espacio busca ser un modelo a nivel comunitario de un espacio para los jóvenes donde
    tengan la oportunidad de desarrollarse, formarse, crecer y estar listos para encontrar opciones disponibles para seguir sus
    estudios, acceder a un trabajo o tener la posibilidad de emprender un proyecto. Cómo requerimiento para tener un EJC Plus
    en una comunidad se necesita un espacio asignado para este fin con los servicios básicos y las condiciones necesarias para
    la instalación, debe ser un local comunitaria o municipal, un comité local de apoyo sólido y dinámico, un fuerte apoyo municipal
    para el funcionamiento de EJC.</p>

   </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}