{% extends 'base.html.twig' %}

{% block title %}Jóvenes Creadores - Metodología{% endblock %}

{% block body %}
   <div class="container mb-5">
     <h1 class="mt-5 mb-5 display-3">Metodología pedagógica</h1>
     <h4 class="mb-5"><i>Funcionamiento del EJC</i></h4>
     <h5 class="mb-5"><i>Proceso de inducción de jóvenes</i></h4>
     <p class="mt-4 mb-4">Para que un joven descubra y aprovecha al máximo la experiencia de los EJC es necesario realizar un proceso de orientación
    que le muestre y motive a vivir y desarrollar todas las posibilidades y oportunidades que ofrece el EJC..</p>
      <p class="mt-4 mb-4">Un primer paso en este proceso es lograr que los jóvenes sientan el espacio como propio y compartido. Esto incluye que reconozcan
      que lo pueden usar con libertad y responsabilidad porque les pertenece, pero también que deben respetar el derecho compartido
      de otros para usarlo. En esta fase se construye la comprensión del EJC como un espacio abierto, inclusivo, libre y seguro.
      En esta etapa el joven entenderá el papel de los EJC dentro del proyecto Puentes y como son un apoyo en la realización de
      su plan de vida y parte de las opciones que le permiten procurar una vida mejor.</p>

      <p class="mt-4 mb-5">Es importante también facilitar un proceso de creación de normas de convivencia que estén enmarcadas dentro de las reglas
      básicas de los EJC para garantizar su cuidado y de todo el equipo dentro de él. Aún más importantes resultan las normas que
      los protegen a ellos y les ayudan a convivir de manera pacífica y segura dentro del mismo.</p>

    <p class="mt-4 mb-4"> Un tema que comienza a construirse con los jóvenes en la fase de inducción y debe desarrollarse a lo largo de todo el proceso
    de su participación es la conexión del EJC con su vida familiar. Esto incluye identificar el valor de las actividades del
    EJC para su familia, la importancia de la familia en su propio desarrollo creativo, científico y práctico, el conocimiento
    por los padres de familia acerca de las actividades de los EJC, la obtención de permisos y el mantenimiento de una comunicación
    continua entre EJC y familia, entre otros aspectos relacionados.</p>

    <p class="mt-4 m-b4">Es importante también invitar a los jóvenes a considerar su incidencia comunitaria como parte de las actividades del EJC.
    Los jóvenes pueden desarrollar habilidades de participación ciudadana, diálogo, gestión, abogacía y así cuidar, desarrollar
    y promover los EJC y explicar su importancia en la comunidad.</p>

    <p class="mt-4 mb-4">Se tendrá al menos una reunión inicial con los padres de familia de los jóvenes para darles a conocer lo que sus hijos estarán
    realizando en los EJC y reuniones eventuales de seguimiento para comentar sobre su desarrollo en los EJC.</p>

    <h2 class="mt-5 mb-5 display-4">Fomento de la creatividad: «descongelar» el pensamiento de los jóvenes</h2>
    <p class="mt-4 mb-4">“La creatividad y el pensamiento creativo son una parte importante del aprendizaje y enseñar a los jóvenes que sus voces
    creativas importan es un gran paso. La creatividad es indicio de personalidad y signo del carácter único e irrepetible de
    cada persona”</p>

    <p class="mt-4 mb-4">“Educar en la creatividad es educar para el cambio y formar personas ricas en originalidad, flexibilidad, visión futura,
    iniciativa, confianza, amantes de los riesgos y listas para afrontar los obstáculos y problemas que se les van presentado
    en su vida escolar y cotidiana, además de ofrecerles herramientas para la innovación.
    </p>
   </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}