{% extends 'base.html.twig' %}
{% block title %}Punto Crea Página{% endblock %}   
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    <div id="edit-disclaimer" class="mt-4 mb-4">
      <h2>De Click en Habilitar edición si desea editar la información de las páginas.</h2>
      <button id="page-data-btn" class="enable-edit mb-4 mt-4 btn btn-info btn-lg btn-block">
        Habilitar Edición
      </button>
    </div>
    <div id="edit-container" style="display: none;">
      {{ form_start(form, {'attr': {'id': 'form-new-page'}}) }}
        <div class="form-group">
          <h5>Título de la Página</h5>
          {{ form_row(form.titulo)}}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar el contenido de la Página</h5>
            <textarea class="editor" name="" id="editorSituacion"></textarea>
          {{ form_widget(form.body, { 'id': 'fieldSituacion'}) }}
        </div>
      {{ form_end(form) }}
    </div>
    <div id="view-container" class="mt-4 mb-4">
        {{ pagina.body|raw }}
    </div>
{% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
      <div id="view-container" class="mt-4 mb-4">
          {{ pagina.body|raw }}
      </div>
{% endif %}
  {% endblock %}
  {% block javascripts %}
      {{ parent() }}
      <script src="/js/main.js"></script>
  {% endblock javascripts %}

