{% extends 'base.html.twig' %}
{% block title %}Páginas{% endblock %}

{% block body %}

  {% if paginas %}
    <h1> Listado de Páginas</h1>
    <table  id="paginas" class="table table-striped text-center">
      <thead>
        <tr>
          <th>Nombre de la página</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for pagina in paginas %}
          <tr>  
            <td>{{ pagina.titulo }}</td>
            <td>
              <a href="{{url('edit_pagina', {'pagina_id': pagina.id })}}" class="btn btn-primary">
                <i class="fas fa-eye"></i>
              </a>
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{url('new_page')}}" class="btn btn-primary btn-lg btn-block mt-3 mb-5">Crear Nueva Página</a>

  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">Páginas EJC</div>
      <div class="card-body">
        <h4 class="card-title">Aún No hay páginas creadas en nuestra base de datos.</h4>
        <p class="card-text">Empieza a crear páginas.</p>

        <a href="{{url('new_page')}}" class="btn btn-primary btn-lg">Crear Página</a>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}