{% extends 'base.html.twig' %} 

{% block title %}{{ pagina.titulo}}{% endblock %} 

{% block body %} 
  {{ pagina.body|raw }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}