{% extends 'base.html.twig' %}
{% block title %}Nueva Página{% endblock %} 
 
{% block body %}
  
  {{ form_start(form, {'attr': {'id': 'form-new-page'}}) }}
    <div class="form-group">
      <h5>Título de la Página</h5>
      {{ form_row(form.titulo)}}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar el contenido de la Página</h5>
      <textarea class="editor" name="" id="editorSituacion"></textarea>
       {{ form_widget(form.body, { 'id': 'fieldSituacion' }) }}
    </div>
  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}
