<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a href="/" class="navbar-brand">Jóvenes Creadores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-nav">
          
        {% if is_granted('ROLE_USER') %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url('homepage')}}">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {# <li class="nav-item">
              <a class="nav-link" href="{{url('front_ejc')}}">EJC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url('front_metodologia')}}">Metodología</a>
            </li> #}
            <li class="nav-item">
              <a class="nav-link" href="{{url('reto_list')}}">Retos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-users-cog" style="font-size: 16px;"></i></a>
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 28px, 0px);">
                <a class="dropdown-item" href="#">Mi Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url('logout')}}">Cerrar Sesión
                  <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i>
                </a>
              </div>
            </li>
          </ul>
        {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTOR') %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {# <li class="nav-item">
              <a class="nav-link" href="/ejc">EJC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/metodologia">Metodología</a>
            </li> #}
            {# <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li> #}
            <li class="nav-item dropdown">
            {% if is_granted('ROLE_ADMIN') %}
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-users-cog" style="font-size: 16px;"></i></a>
            {% elseif is_granted('ROLE_TUTOR') %}
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-users-cog" style="font-size: 16px;"></i></a>
            {% endif %}
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 28px, 0px);">
                <a class="dropdown-item" href="/retos">Ver Retos</a>
                {% if is_granted('ROLE_ADMIN') %}
                  <a class="dropdown-item" href="/retos/crear">Crear Reto</a>
                {% endif %}
                <a class="dropdown-item" href="/alumnos">Ver Participantes</a>
                {% if is_granted('ROLE_ADMIN') %}
                  <a class="dropdown-item" href="/paginas">Páginas Sitio</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url('competencias_list')}}">Competencias</a>
                  {# <a class="dropdown-item" href="{{url('cnb_list')}}">CNB</a>
                  <a class="dropdown-item" href="{{url('cbv_list')}}">CBV</a>
                  <a class="dropdown-item" href="{{url('ejc_list')}}">EJC</a> #}
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url('logout')}}">Cerrar Sesión
                <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i></a>
              </div>
            </li>
          </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url('homepage')}}">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {# <li class="nav-item">
            <a class="nav-link" href="{{url('front_ejc')}}">EJC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url('front_metodologia')}}">Metodología</a>
          </li> #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-user" style="font-size: 16px;"></i>
            </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 28px, 0px);">
              <a class="dropdown-item" href="{{url('login')}}">Iniciar sesión
                <i class="fas fa-sign-in-alt" style="margin-left: 5px;"></i>
              </a>
            </div>
          </li>
        </ul>
        {% endif %} 
    </div>
  </div>
</nav>