{% extends 'base.html.twig' %}
{% block title %}Aspectos a Evaluar{% endblock %} 
 
{% block body %}
  <h1> Listado de Aspectos a Evaluar </h1>
    <table  id="aspectos" class="table table-striped text-center">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Descripción Corta</th>
          <th>No Logro</th>
          <th>Logro Parcial</th>
          <th>Logro Total</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for rubrica in rubricas %}
          <tr>  
            <td>{{rubrica.descripcion }}</td>
            <td>{{rubrica.descripcioncorta }}</td>
            <td>{{rubrica.nologro }}</td>
            <td>{{rubrica.parciallogro }}</td>
            <td>{{rubrica.totallogro }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info">Opciones</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);">
                    <a class="dropdown-item" href="{{url('editar_aspectos', {'id': reto.id, 'id_aspecto': rubrica.id})}}">Editar <i class="fas fa-edit" stye="margin-left: 5px;"></i></a>
                    <a class="dropdown-item" href="{{url('delete_aspecto', {'id_reto': reto.id, 'id_aspecto': rubrica.id})}}">Eliminar <i class="fas fa-trash-alt" style="margin-left: 5px;"></i></a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td>No hay aspectos ingresados</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  

  {{ form_start(form) }}
    <div class="form-group">
      {{ form_row(form.descripcion)}}
      {{ form_row(form.descripcioncorta)}}
      {{ form_row(form.nologro)}}
      {{ form_row(form.parciallogro)}}
      {{ form_row(form.totallogro)}}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Agregar</button>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}
