{% extends 'base.html.twig' %} 
{% block title %}Nuevo Reto{% endblock %} 

{% block body %}

<div id="edit-disclaimer" class="mt-4 mb-4">
  <h2>De Click en Habilitar edición si desea editar la información del reto.</h2>
  <button id="set-data-btn" class="enable-edit mb-4 mt-4 btn btn-info btn-lg btn-block">
    Habilitar Edición
  </button>
</div>
  <div id="edit-container" style="display: none;">
    {{ form_start(form, {'attr': {'id': 'form-new-reto'}}) }}
    <div class="form-group col-xs-6">
      <h5>Ingrese la categoría del reto</h5>
      {{ form_row(form.category)}}
    </div>
    <div class="form-group col-xs-6">
      <h5>Ingrese la nivel del reto</h5>
      {{ form_row(form.level)}}
    </div>
    <div class="form-group">
      <h5>Título del reto</h5>
      {{ form_row(form.title)}}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar situación generadora (video, historieta, imágenes, canción u otro recurso)</h5>
      <textarea class="editor" name="" id="editorSituacion"></textarea>
      {{ form_widget(form.situacion, { 'id': 'fieldSituacion'}) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar pregunta generadora</h5>
      <textarea class="editor" name="" id="editorPregunta"></textarea>
      {{ form_widget(form.pregunta, { 'id': 'fieldPregunta' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar todo el contenido de investigo y aprendo (se pueden agregar links, imágenes, videos)</h5>
      <textarea class="editor" name="" id="editorInvestigo"></textarea>
      {{ form_widget(form.investigo, { 'id': 'fieldInvestigo' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de materiales para sección produzco</h5>
      <textarea class="editor" name="" id="editorMateriales"></textarea>
      {{ form_widget(form.materiales, { 'id': 'fieldMateriales' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de pasos para el ensayo</h5>
      <textarea class="editor" name="" id="editorEnsayo"></textarea>
      {{ form_widget(form.ensayo, { 'id': 'fieldEnsayo' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de vínculos y bibliografía recomendada</h5>
      <textarea class="editor" name="" id="editorConocer"></textarea>
      {{ form_widget(form.conocer, { 'id': 'fieldConocer' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de preguntas para aplicar a su comunidad</h5>
      <textarea class="editor" name="" id="editorAplicar"></textarea>
      {{ form_widget(form.aplicar, { 'id': 'fieldAplicar' }) }}
    </div>
  
    {{ form_end(form) }} 

  </div>
{% endblock %} 

{% block javascripts %} 
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}