{% extends 'base.html.twig' %}
{% block title %}Aspectos{% endblock %} 
 
{% block body %}
  <h1> Editar Aspectos</h1>
  {{ form_start(form) }}
    <div class="form-group">
      {{ form_row(form.descripcion)}}
      {{ form_row(form.descripcioncorta)}}
      {{ form_row(form.nologro)}}
      {{ form_row(form.parciallogro)}}
      {{ form_row(form.totallogro)}}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Guardar</button>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}
