{% extends 'base.html.twig' %}
{% block title %}Listado Jóvenes Creadores{% endblock %}

{% block body %}

  {% if participantes %}
    <h1> Listado de Participantes</h1>
    <a href="#" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Evaluar a todos</a>
    <table  id="participante" class="table table-striped text-center">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>CUI</th>
          <th>Opcion</th>
        </tr>
      </thead>
      <tbody>
        {% for participante in participantes %}
          <tr>  
            <td>{{ participante.nombres }}</td>
            <td>{{ participante.apellidos}}</td>
            <td>{{ participante.cui }}</td>
            <td><a href="/retos/reto/{{reto_id}}/evaluar-participante/{{participante.id}}" class="btn btn-primary">Evaluar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">Participantes EJC</div>
      <div class="card-body">
        <h4 class="card-title">Aún No hay participantes asignados en nuestra base de datos.</h4>
        <p class="card-text">Pronto iniciaremos con participantes.</p>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}