{% extends 'base.html.twig' %}
{% block title %}Retos Jóvenes Creadores{% endblock %}

{% block body %}

  {% if retos %}
    <h1> Listado de Retos </h1>
    <br><br>

    
    <h2>
      Filtrado
    </h2>
<table id="listReto" class="table table-striped text-center display responsive nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Categoría</th>
          <th>Nivel</th>
          <th>Título del Reto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for reto in retos %}
          <tr>  
            <td>{{ reto.category }}</td>
            <td>{{ reto.level }}</td>
            <td>{{ reto.title }} #{{ reto.id}}</td>
            <td>
              <a href="{{url('edit_reto', {'id': reto.id})}}" class="btn">Ver <i class="fas fa-eye" style="margin-left: 10px;"></i></a>
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTOR') %}
                <a href="{{url('aspectos_reto', {'id': reto.id})}}" class="btn">Evaluación
                  <i class="fas fa-eye" style="margin-left: 10px;"></i>
                </a>
                {# <a href="{{url('evaluar_reto', {'reto_id': reto.id})}}" class="btn btn-primary">Ver Participantes
                  <i class="fas fa-eye" style="margin-left: 10px;"></i>
                </a> #}
                {% if is_granted('ROLE_ADMIN') %}
                  <a href="/retos/borrar/{{reto.id}}" class="btn  delete-reto" data-id="{{ reto.id }}">Borrar <i class="fas fa-trash-alt" style="margin-left: 10px;"></i>
                  </a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% else %}
  <div class="row justify-content-center align-items-center">
    <div class="card border-primary mt-5 mb-3 ">
      <div class="card-header">RETOS EJC</div>
      <div class="card-body">
        <h4 class="card-title">Aún No hay retos en nuestra base de datos.</h4>
        <p class="card-text">Pronto agregaremos retos para tu aprendizaje.</p>
      </div>
    </div>
  </div>
  {% endif %}

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}