{% extends 'base.html.twig' %}
{% block title %}Nuevo Reto{% endblock %} 
 
{% block body %}
  
  {{ form_start(form, {'attr': {'id': 'form-new-reto'}}) }}

      <div class="form-group col-xs-6">
        <h5>Ingrese la categoría del reto</h5>
        {{ form_row(form.category)}}
      </div>
      <div class="form-group col-xs-6">
        <h5>Ingrese la nivel del reto</h5>
        {{ form_row(form.level)}}
      </div>
    <div class="form-group">
      <h5>Título del reto</h5>
      {{ form_row(form.title)}}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar situación generadora (video, historieta, imágenes, canción u otro recurso)</h5>
      <textarea class="editor" name="" id="editorSituacion"></textarea>
       {{ form_widget(form.situacion, { 'id': 'fieldSituacion' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar pregunta generadora</h5>
      <textarea class="editor" name="" id="editorPregunta"></textarea>
      {{ form_widget(form.pregunta, { 'id': 'fieldPregunta' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar todo el contenido de investigo y aprendo (se pueden agregar links, imágenes, videos)</h5>
      <textarea class="editor" name="" id="editorInvestigo"></textarea>
      {{ form_widget(form.investigo, { 'id': 'fieldInvestigo' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de materiales para sección produzco</h5>
      <textarea class="editor" name="" id="editorMateriales"></textarea>
      {{ form_widget(form.materiales, { 'id': 'fieldMateriales' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de pasos para el ensayo</h5>
      <textarea class="editor" name="" id="editorEnsayo"></textarea>
      {{ form_widget(form.ensayo, { 'id': 'fieldEnsayo' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de vínculos y bibliografía recomendada</h5>
      <textarea class="editor" name="" id="editorConocer"></textarea>
      {{ form_widget(form.conocer, { 'id': 'fieldConocer' }) }}
    </div>
    <div class="form-group">
      <h5 class="mb-4">Ingresar listado de preguntas para aplicar a su comunidad</h5>
      <textarea class="editor" name="" id="editorAplicar"></textarea>
      {{ form_widget(form.aplicar, { 'id': 'fieldAplicar' }) }}
    </div>
  {{ form_end(form) }}


  <!-- <h2 class="mt-4 mb-4">Generar guía de diseño</h2>

  <div class="form-group">
    <label for="exampleSelect1">Selecciona la Fuente</label>
    <select class="form-control" id="exampleSelect1">
      <option>CNB</option>
      <option>CBV</option>
      <option>EJC</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect2">Selecciona área</label>
    <select class="form-control" id="exampleSelect2">
      <option>S</option>
      <option>T</option>
      <option>E</option>
      <option>A</option>
      <option>M</option>
      <option>SE</option>
      <option>SP</option>
    </select>
  </div>
  <div class="form-group">
    <select class="custom-select">
      <option selected="">Selecciona Competencia</option>
      <option value="1">1.1 Elabora patrones utilizando objetos o figuras geométricas.</option>
      <option value="2">1.2 Elabora y describe patrones.</option>
      <option value="3">2.1 Establece relación entre elementos por la distancia, posición y tiempo.</option>
    </select>
  </div>
  <div class="form-group">
    <select class="custom-select">
      <option selected="">Selecciona Competencia</option>
      <option value="1">1. Conservar el entorno natural y la salud individual y colectiva</option>
      <option value="2">2. Comunicarse en un medio multicultural y plurilingüe (Competencia comunicativa)</option>
      <option value="3">3. Pensamiento lógicomatemático</option>
    </select>
  </div>
  <div class="form-group">
    <select class="custom-select">
      <option selected="">Selecciona Dimensión Clave</option>
      <option value="1">1.1. Conocimiento y comprensión de los procesos naturales.</option>
      <option value="2">1.2. Interacción entre el ser humano y el entorno.</option>
      <option value="3">1.3. Fomento de la salud individual y colectiva.</option>
    </select>
  </div>
  <div class="form-group">
    <select class="custom-select">
      <option selected="">Selecciona Indicador de Logro</option>
      <option value="1">1.2.1. Describe los cambios causados en el entorno por la actividad humana y su participación en los mismos.</option>
      <option value="2">1.2.2. Aplica conocimientos sobre prevención y control de desastres.</option>
      <option value="3">1.2.2. Determina el impacto de la aplicación de la ciencia y la tecnología en el entorno.</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary mb-3 mt-3">Agregar Competencia</button> -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
{% endblock javascripts %}
