{% extends 'base.html.twig' %} 
{% block title %}Evaluar{% endblock %} 

{% block body %}
  {{ form_start(form) }}
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Agregar</button>
  {{ form_end(form)}}
{% endblock %} 

{% block javascripts %} {{ parent() }}
{{ parent() }}
<script>
  $(document).ready(function () {
    $('#summernote').summernote();
  });
</script> {% endblock javascripts %}
