{% extends 'base.html.twig' %} 

{% block title %}{{ reto.title}}{% endblock %} 

{% block body %} 
  {% if is_granted('ROLE_ADMIN') %}

    <div id="edit-disclaimer" class="mt-4 mb-4">
      <h2>Dé click en Habilitar Edición si desea editar la información del reto.</h2>
      <button id="set-data-btn" class="enable-edit mb-4 mt-4 btn btn-info btn-lg btn-block">
        Habilitar Edición
      </button>
    </div>
      <div id="edit-container" style="display: none;">
        {{ form_start(form, {'attr': {'id': 'form-new-reto'}}) }}
        <div class="form-group">
          <h5>Título del reto</h5>
          {{ form_row(form.title)}}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar situación generadora (video, historieta, imágenes, canción u otro recurso)</h5>
          <textarea class="editor" name="" id="editorSituacion"></textarea>
          {{ form_widget(form.situacion, { 'id': 'fieldSituacion'}) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar pregunta generadora</h5>
          <textarea class="editor" name="" id="editorPregunta"></textarea>
          {{ form_widget(form.pregunta, { 'id': 'fieldPregunta' }) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar todo el contenido de investigo y aprendo (se pueden agregar links, imágenes, videos)</h5>
          <textarea class="editor" name="" id="editorInvestigo"></textarea>
          {{ form_widget(form.investigo, { 'id': 'fieldInvestigo' }) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar listado de materiales para sección produzco</h5>
          <textarea class="editor" name="" id="editorMateriales"></textarea>
          {{ form_widget(form.materiales, { 'id': 'fieldMateriales' }) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar listado de pasos para el ensayo</h5>
          <textarea class="editor" name="" id="editorEnsayo"></textarea>
          {{ form_widget(form.ensayo, { 'id': 'fieldEnsayo' }) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar listado de vínculos y bibliografía recomendada</h5>
          <textarea class="editor" name="" id="editorConocer"></textarea>
          {{ form_widget(form.conocer, { 'id': 'fieldConocer' }) }}
        </div>
        <div class="form-group">
          <h5 class="mb-4">Ingresar listado de preguntas para aplicar a su comunidad</h5>
          <textarea class="editor" name="" id="editorAplicar"></textarea>
          {{ form_widget(form.aplicar, { 'id': 'fieldAplicar' }) }}
        </div>
      
        {{ form_end(form) }} 

      </div>
  {% endif %}
  <div id="view-container reto-show" class="mt-4 mb-4">
    <h1 class="display-3 mb-5">{{ reto.title}} # {{reto.id}}</h1>
    <hr>
    <h2><strong>Empatizo</strong></h2>
    <p><i>Reconozco las situaciones y problemas de mi entorno</i></p>
    <hr>
    {{ reto.situacion|raw }}
    <br><br>
    <div class="text-center">
      <strong>
        {{ reto.pregunta|raw}}
      </strong>
    </div>
  
    <h2><strong>Investigo y aprendo</strong></h2>
    <p><i>Ideas de lo que trataremos en este reto.</i></p>
    <hr>
    {{ reto.investigo|raw }}
  
    <h2><strong>Produzco</strong></h2>
    <hr>
    <h3>Materiales</h3>
    {{ reto.materiales|raw }}
  
    <h2><strong>Ensayo</strong></h2>
    <p><i>Experimento con materiales y retos sobre la situación</i></p>
    <hr>
    {{ reto.ensayo|raw}}
  
    <h2><strong>Para conocer más</strong></h2>
    <hr>
    {{ reto.conocer|raw }}
  
    <h2><strong>Aplico en mi comunidad</strong></h2>
    <hr>
    {{ reto.aplicar|raw }}
  
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/retos" role="button"><i class="far fa-hand-point-left" style="margin-right: 10px;"></i>Regresar</a>
    </p>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/main.js"></script>
  <script src="/js/retos.js"></script>
{% endblock javascripts %}