{% if app.user != NULL %}
  {% extends 'base.html.twig' %}
  {% block title %}Jóvenes Creadores{% endblock %}


  {% block body %}
    {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container justify-content-center mt-5 mb-5" >
      <h1 class="text-uppercase mb-5 mt-5 display-3 text-center">INICIAR SESIÓN</h1>
      <div class="row justify-content-center align-items-center">
        <form action="{{ path('login_check') }}" method="post" class="col col-lg-6 form-signin">
          <div class="form-group">
            <label for="username" >Nombre de Usuario:</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
          </div> 
        
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input class="form-control" type="password" id="password" name="_password" /> {# If you want to control the URL the user is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" /> #}
          </div>
        
          <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
          <a href="{{url('user_participante')}}" class="mt-5 mb-3 btn btn-outline-primary"> ¿No tienes Cuenta?</a>
          <p class="mt-5 mb-3 text-muted text-center">© 2018 - Jóvenes Creadores</p>
        </form>
      </div>
    </div>


    

  {% endblock body %}
  
{% endif %}
