{% extends 'base.html.twig' %} 
{% block title %}Registro EJC{% endblock %}


{% block body %}
  {% if message != null %}
    <div class="jumbotron">
      <h1 class="display-3">{{ message }}</h1>
      <p class="lead">Bienvenido al espacio de jóvenes Creadores.</p>
      <hr class="my-4">
      <p>Para continuar por favor iniciar sesión.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg btn-block" href="/login" role="button">Ir a iniciar sesión</a>
      </p>
    </div>

  {% else %}
    <div class="container justify-content-center mt-5 mb-5">
      <h1 class="text-uppercase mb-5 mt-5 display-3 text-center">REGISTRO ESPECIALISTA</h1>
      <div class="row justify-content-center align-items-center">
        {{ form_start(form, {'attr': {'class': 'col col-lg-6 form-signin'}}) }} 
          {{ form_row(form.user)}}
          {{ form_row(form.cui) }} 
          {{ form_row(form.nombres) }} 
          {{ form_row(form.apellidos) }}
          {{ form_row(form.fechanacimiento) }}
          {{ form_row(form.genero) }}
          {{ form_row(form.telefonocasa) }}
          {{ form_row(form.telefonocelular) }}
          {{ form_row(form.comunidad) }}
          {{ form_row(form.municipio) }}
          {{ form_row(form.departamento) }}
          {{ form_row(form.direccionfisica) }}

          <button type="submit" class="btn btn-primary btn-lg btn-block mb-5 mt-3">Registrar</button>
          <a href="/login" class=" mb-3 btn btn-outline-primary"> ¿Ya tienes cuenta?</a>
          <p class="mt-5 mb-3 text-muted text-center">© 2018 - Jóvenes Creadores</p>
        {{ form_end(form) }}
      </div>

    </div>
  {% endif %}
{% endblock body %}
